# Database
DATABASE_URL="mysql://user:password@localhost:3306/realestatephp"

# App
NEXTAUTH_SECRET="seu-secret-aqui"
NEXTAUTH_URL="http://localhost:3000"

# Admin defaults
ADMIN_EMAIL="admin@realestate.com"
ADMIN_PASSWORD="admin123"
